# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store

# vercel
.vercel/

# data files
gift_list.csv
gift_list_results.csv
gift_list_token.json

